*, *::before, *::after {
  box-sizing: border-box;
}

body {
  --clr-primary: #74E08C;
  --clr-dark: #fff;
  --clr-light: #2b2b2b;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.925rem;
  color: var(--clr-light);
}

body.dark-mode {
  --clr-primary: #74E08C;
  --clr-dark: #2B2B2B;
  --clr-light: #fff;
  transition: ease all 0.3s;
}


main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-dark);
}

.light-dark {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  transition: ease all 0.3s;
  cursor: pointer;
  font-size: 1.5rem;
}

.icon::before {
  font: var(--fa-font-solid);
  content: "\f186";
}

.icon-dark::before {
  font: var(--fa-font-solid);
  content: "\f185";
}

.btn-contact {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.social {
  position: absolute;
  bottom: 40px;
  right: 40px;
}