*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.925rem;
  color: #282828;
  background-color: white;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 400px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  padding: 2.5em;
  border-radius: 0.725em;
}

h1 {
  position: relative;
  margin: 0;
}

h1::before {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 20%;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(52, 178, 228);
  z-index: -1;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5em;
  padding: 1em;
  background-color: #282828;
  color: white;
  text-decoration: none;
}